target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.class

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/workspace.xml
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/.idea/shelf/Uncommitted_changes_before_Checkout_at_6_15_2024_9_27_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_6_15_2024_9_27_PM_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_6_15_2024_9_28_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_6_15_2024_9_30_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_6_15_2024_9_33_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_6_15_2024_9_27_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_6_15_2024_9_28_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_6_15_2024_9_30_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_6_15_2024_9_33_PM__Changes_.xml
